{% extends "landing/menuLanding.html" %}
{% block titulo %} Productos {% endblock %}
{% load static %} 
{% block contenido %}
    <div class="contenido d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card" style="width: 700px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{producto.foto}}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title" style="color: black;">{{ producto.nombreproducto }}</h3>
                        <p class="card-text">{{ producto.descripcionproducto }}</p>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cantidadInput">Cantidad:</label>
                                <input type="number" class="form-control" id="cantidadInput" placeholder="Ingrese la cantidad" min="1" value="1">
                            </div>
                            <div style="margin-top: 10px; width: 150%;">
                                <button type="button" class="btn btn-primary btn-block">Solicitar servicio de instalación</button>
                            </div>
                            <div style="margin-top: 10px;">
                                <button type="button" class="btn btn-secondary btn-block">Agregar a cotización</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
