    {% extends "menu.html" %}
    {% block titulo %} Envios {% endblock %}    

    {% block contenido %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/envios.css' %}">
        <div id="content" style="margin-top:30px ">
            <section style="padding: 30px;">
                <form class="form-inline">
                    <div class="custom-input-group">
                        <input type="search" class="form-control custom-form-control" placeholder="Buscar" aria-label="Search">
                        <button type="submit" class="btn btn-search">?</button>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'createProducto'%}" class="btn btn-primary btn">Añadir Producto</a>
                        </div>
                    </div>
                </form>
            </section>

            <section class="s-data-table">
                <table class="table data-table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Proveedor</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <tr>
                            <td>{{producto.idproducto}}</td>
                            <td>{{producto.nombreproducto}}</td>
                            <td>{{producto.descripcionproducto}}</td>
                            <td>{{producto.precioproducto}}</td>
                            <td>{{producto.cantidad}}</td>
                            <td>{{producto.idcategoriaproducto.nombrecategoria}}</td>
                            <td>{{producto.idproveedorproducto.nombreproveedor}}</td>
                            <td> 
                                <a href="{% url 'editarProducto' idProducto=producto.idproducto %}" class="btn btn-primary btn-sw"> Editar </a>
                            </td>
                            <td>
                                <a href="{% url 'eliminarProducto' idProducto=producto.idproducto %}" class="btn btn-danger btn-sw"> eliminar </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <div class="d-flex justify-content-start">
                <a href="" class="btn btn-success btn">Exportar</a>
            </div>
        </div>
{% endblock %}
