{% extends "menu.html" %}
{% block titulo %} Citas | Analisis {% endblock %}
{% block contenido %}

<div id="content">
    <section class="available_prod">
        <div class="container">
            <div class="row">
                <div class="allowed_prod">
                    <h2 class="font-weight-bold">Citas de analisis</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="container-citas">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Cita</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Tecnico</th>
                    <th scope="col">Administrador</th>
                    <th scope="col">Cotizacion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cita in citas %}
                <tr>
                    <td>{{ cita.idcita }}</td>
                    <td>{{ cita.fechacita }}</td>
                    <td>{{ cita.direccioncita }}</td>
                    <td>{{ cita.contactocliente }}</td>
                    <td>{{ cita.descripcioncita }}</td>
                    <td>{{ cita.idtecnico }}</td>
                    <td>{{ cita.idadministrador }}</td>
                    <td>{{ cita.idcotizacion }}</td>
                    <td>{{ cita.idestadocita }}</td>
                    <td>
                        <a href="{url 'editar_citas'}" class="btn btn-primary btn-sw"> Editar </a> 
                    </td>
                    <td>
                        <a href="" class="btn btn-danger btn-sw"> Eliminar </a>                  
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <button type="button" class="btn btn-create btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">+ Crear cita</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cita</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if form.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <ul>
                                {% for error in form.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <form method="POST" action="{% url 'crear_citas' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="fechacita" class="col-form-label">Fecha:</label>
                                <input type="date" class="form-control" name="fechacita" id="fechacita" value="{{ form.fechacita.value }}" required>
                            </div>
                            <div class="form-group">
                                <label for="direccioncita" class="col-form-label">Dirección:</label>
                                <input type="text" class="form-control" name="direccioncita" id="direccioncita" value="{{ form.direccioncita.value }}" required>
                            </div>
                            <div class="form-group">
                                <label for="contactocliente" class="col-form-label">Número de contacto del cliente:</label>
                                <input type="number" class="form-control" name="contactocliente" id="contactocliente" value="{{ form.contactocliente.value }}" required>
                            </div>
                            <div class="form-group">
                                <label for="descripcioncita" class="col-form-label">Descripción:</label>
                                <textarea class="form-control" name="descripcioncita" id="descripcioncita" required>{{ form.descripcioncita.value }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="idtecnico" class="col-form-label">ID Tecnico:</label>
                                <input type="number" class="form-control" name="idtecnico" id="idtecnico" value="{{ form.idtecnico.value }}">
                            </div>
                            <div class="form-group">
                                <label for="idadministrador" class="col-form-label">ID Administrador:</label>
                                <input type="number" class="form-control" name="idadministrador" id="idadministrador" value="{{ form.idadministrador.value }}">
                            </div>
                            <div class="form-group">
                                <label for="idcotizacion" class="col-form-label">ID Cotizacion:</label>
                                <input type="number" class="form-control" name="idcotizacion" id="idcotizacion" value="{{ form.idcotizacion.value }}">
                            </div>
                            <div class="form-group">
                                <label for="idestadocita" class="col-form-label">Estado cita:</label>
                                <input type="number" class="form-control" name="idestadocita" id="idestadocita" value="{{ form.idestadocita.value }}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-cancelar btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-create btn-success">Aceptar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>
{% endblock %}