{% extends "menu.html" %}
{% block titulo %} Index {% endblock %}

{% block contenido %}
            <section class="available_prod">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'cita_analisis/' %}" class="btn-citas btn-primary">Citas de Analisis</a>
                    <a href="{% url 'cita_instalacion/' %}" class="btn-citas btn-primary">Citas de Instalacion</a>
                    <a href="{% url 'cita_mantenimiento/' %}" class="btn-citas btn-primary">Citas de Mantenimiento</a>
                </div>
            </section>
            <div class="titulo-reporte">
                <h4>Reportes : </h4>
            </div>
            <section class="container-reportes">
                
                <div class="reporte">
                    <h5>Reporte#00000</h4>
                    <h6>Nombre del tecnico</h5>
                </div>
                <div class="reporte">
                    <h5>Reporte#00000</h4>
                    <h6>Nombre del tecnico</h5>
                </div>
                <div class="reporte">
                    <h5>Reporte#00000</h5>
                    <h6>Nombre del tecnico</h5>
                </div>
                <div class="reporte">
                    <h5>Reporte#00000</h4>
                    <h6>Nombre del tecnico</h5>
                </div>
                <div class="reporte">
                    <h5>Reporte#00000</h4>
                    <h6>Nombre del tecnico</h5>
                </div>
                <div class="reporte">
                    <h5>Reporte#00000</h5>
                    <h6>Nombre del tecnico</h6>
                </div>
                <div class="reporte">
                    <h5>Reporte#00000</h4>
                    <h6>Nombre del tecnico</h5>
                </div>
                <div class="estado-reportes">
                    <button class="boton-estado">Leidos</>
                    <button class="boton-estado">No leidos</>
                </div>

            </section>
        </div>
    </div>
</div>

{% endblock %}
