{% extends "menu.html" %}
{% block titulo %} Index {% endblock %}

{% block contenido %}
            <section class="available_prod">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'cita_analisis' %}" class="btn-citas btn-primary">Citas de Analisis</a>
                    <a href="{% url 'cita_instalacion' %}" class="btn-citas btn-primary">Citas de Instalacion</a>
                    <a href="{% url 'cita_mantenimiento' %}" class="btn-citas btn-primary">Citas de Mantenimiento</a>
                </div>
            </section>

{% endblock %}
