    {% extends "menu.html" %}
    {% block titulo %} Envios {% endblock %}    
    
    {% block contenido %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/envios.css' %}">
        <div id="content" style="margin-top:30px ">
            <section style="padding: 30px;">
                <form class="form-inline">
                    <div class="custom-input-group">
                        <input type="search" class="form-control custom-form-control" placeholder="Buscar" aria-label="Search">
                        <button type="submit" class="btn btn-search">?</button>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'createEnvio'%}" class="btn btn-primary btn">Añadir Envio</a>
                        </div>
                    </div>
                </form>
            </section>

            <section class="s-data-table">
                <table class="table data-table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">ID Tecnico</th>
                            <th scope="col">Estado</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in envios %}
                        <tr>
                            <td>{{e.idenvio}}</td>
                            <td>{{e.direccionenvio}}</td>
                            <td>{{e.idtecnico.idtecnico}}</td>
                            <td>{{e.idestadoenvio.nombreestadoenvio}}</td>
                            <td> 
                                <a href="{% url 'editarEnvio' idEnvio=e.idenvio %}" class="btn btn-primary btn-sw"> Editar </a>
                            </td>
                            <td>
                                <a href="{% url 'eliminarEnvio' idEnvio=e.idenvio %}" class="btn btn-danger btn-sw"> eliminar </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <div class="d-flex justify-content-start">
                <a href="" class="btn btn-success btn">Exportar</a>
            </div>
        </div>
{% endblock %}
